.submit{
  color: white;
  width: 100%;
  background: #3f51a0;
  margin: 0;
}

.login-form{
  background: #eaeaea;
  box-shadow: 1px 10px 33px #c1c1c1;
  border: 1px solid #3d1684;
  overflow: hidden;
  min-width: 200px;
}

.mat-card-actions{
  margin-bottom: 0;
}

